@page "/administration/dashboard"
@inject HttpClient _httpClient
@inject ICheckoutHttpClient _checkoutHttpClient
<PageTitle>Dashboard | @ApplicationConstants.LibraryName</PageTitle>

@using Quark.Client.Extensions

<MudText Typo="Typo.h4" Color="Color.Primary" Class="mb-2">Dashboard</MudText>
<MudText Color="Color.Surface" Class="mb-4">Manage your library from here</MudText>
<MudDivider />
@if (canViewDashboard)
{
    @if (DashboardData is not null)
    {
        <MudGrid Class="my-4">
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="0" Outlined Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudAvatar Variant="Variant.Filled" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;">
                        <MudIcon Icon="@Icons.Material.Filled.CardMembership" />
                    </MudAvatar>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Patrons</MudText>
                        <MudText Typo="Typo.h5">@DashboardData.PatronsCount</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="0" Outlined Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudAvatar Variant="Variant.Filled" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;">
                        <MudIcon Icon="@Icons.Material.Filled.LibraryBooks" />
                    </MudAvatar>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Books</MudText>
                        <MudText Typo="Typo.h5">@DashboardData.BooksCount</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="0" Outlined Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudAvatar Variant="Variant.Filled" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;">
                        <MudIcon Icon="@Icons.Material.Filled.ChecklistRtl" />
                    </MudAvatar>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Checkouts</MudText>
                        <MudText Typo="Typo.h5">@DashboardData.CheckoutsCount</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="0" Outlined Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudAvatar Variant="Variant.Filled" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;">
                        <MudIcon Icon="@Icons.Material.Filled.Person" />
                    </MudAvatar>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Check In Pending</MudText>
                        <MudText Typo="Typo.h5">@DashboardData.CheckInPending</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="0" Outlined Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudAvatar Variant="Variant.Filled" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;">
                        <MudIcon Icon="@Icons.Material.Filled.Person" />
                    </MudAvatar>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Checked In Today</MudText>
                        <MudText Typo="Typo.h5">@DashboardData.CheckInTodayCount</MudText>
                    </div>
                </MudPaper>
            </MudItem>
        </MudGrid>
    }
}
@if (canCreateCheckout)
{
    <EditForm Model="Checkout" OnValidSubmit="AddCheckoutAsync">
        <MudCard Outlined Elevation="0">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Image="fas fa-bolt" />
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Instant Checkout</MudText>
                    <MudText Typo="Typo.body2">Enter Patron RegisterID and Book Barcode</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudFab Color="Color.Default" Icon="@Icons.Material.Filled.Delete" DisableElevation OnClick="ResetModel" Label="Clear" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12" sm="6" md="4" lg="3">
                        <MudTextField @bind-Value="Checkout.BookBarcode" Label="Book Barcode" HelperText="Enter book barcode here" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4" lg="3">
                        <MudTextField @bind-Value="Checkout.PatronRegisterId" Label="Patron ID" HelperText="Enter patron register ID here" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4" lg="3">
                        <MudDatePicker PickerVariant="PickerVariant.Dialog" @ref="picker1" @bind-Date="Checkout.CheckedOutSince" Label="Checkout Date">
                            <PickerActions>
                                <MudButton OnClick="@(() => picker1.Close(false))">Cancel</MudButton>
                                <MudButton Color="Color.Primary" OnClick="@(() => picker1.Close())">Ok</MudButton>
                            </PickerActions>
                        </MudDatePicker>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4" lg="3">
                        <MudDatePicker PickerVariant="PickerVariant.Dialog" @ref="picker2" @bind-Date="Checkout.ExpectedCheckInDate" Label="Checkout Date">
                            <PickerActions>
                                <MudButton OnClick="@(() => picker2.Close(false))">Cancel</MudButton>
                                <MudButton Color="Color.Primary" OnClick="@(() => picker2.Close())">Ok</MudButton>
                            </PickerActions>
                        </MudDatePicker>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardActions>
                <MudButton DisableElevation ButtonType="ButtonType.Submit" Variant="Variant.Filled" Class="ma-2" Color="Color.Success" Size="Size.Large">Add Checkout</MudButton>
            </MudCardActions>
        </MudCard>
        <MudDivider Class="my-4" />
    </EditForm>
}