@page "/"
@attribute [AllowAnonymous]
@layout AnonymousPatronLayout

<MudText Typo=Typo.h5 Color=Color.Primary>Catalog</MudText>
<MudText Typo=Typo.body1>View all books present in the library</MudText>
<MudDivider Class="my-6" />

@if (DashboardData is not null)
{
    <MudGrid Class="my-4">
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="0" Outlined Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudAvatar Variant="Variant.Filled" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;">
                    <MudIcon Icon="@Icons.Material.Filled.LibraryBooks" />
                </MudAvatar>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Books</MudText>
                    <MudText Typo="Typo.h5">@DashboardData.BooksCount</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="0" Outlined Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudAvatar Variant="Variant.Filled" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;">
                    <MudIcon Icon="@Icons.Material.Filled.LibraryBooks" />
                </MudAvatar>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Book Copies</MudText>
                    <MudText Typo="Typo.h5">@DashboardData.BookItemsCount</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="0" Outlined Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudAvatar Variant="Variant.Filled" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;">
                    <MudIcon Icon="@Icons.Material.Filled.Person" />
                </MudAvatar>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Checked In Today</MudText>
                    <MudText Typo="Typo.h5">@DashboardData.CheckInTodayCount</MudText>
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudDivider Class="my-6" />
}
<div class="d-flex justify-center mb-6">
    <MudFab Color="Color.Primary" OnClick=@(() => navigationManager.NavigateTo("/books")) Label="View All Books" Class="mx-2" />
    @*<MudFab Color="Color.Primary" OnClick=@(() => navigationManager.NavigateTo("")) Label="View Book Availability" Class="mx-2" />*@
</div>